<!DOCTYPE html>
<html ng-app='LunchBoxApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="App.js"></script>
    <style>body { font-size: 1.5em; }</style>
    <title>Assignmemt_01</title>
  </head>
<body>
    <h1>Lunch Box estimation</h1>
    <div ng-controller='AppController'>
     <h2>Type your things in the Box Below</h2>
     <br>
     <input type="text" ng-model="input"> {{comment}}
     <br>
    <button ng-click="calEstimation()">Check if too much</button>
    {{feedback}}
    
  </div>
</body>
</html>